.content-container {
  margin-bottom: 0px;
  z-index: 10;
}


.news-entry {
  padding: 0;
  height: 100%;
  width: 100%;
}

.flexslider-container {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.flexslider {
  height: 100%;
  border: none;
}

.slides {
  height: 100%;
}

.slides li {
  height: 100%;
}

.background-container {
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */
  z-index: 0;
  width: 100%;
  height: 100%;
}

.background-container img {
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */

  min-width: 100%;
  min-height: 100%;
}

.content-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.scrim-full {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
}

.logo-image {
  width: 200px;
  margin-bottom: 2ex;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.heading h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 56pt;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,.3);
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: .8ex;
}

.preview {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 24pt;
  color: white;

  height: 11.1ex;
  margin-bottom: 3ex;
  padding-bottom: 1ex;
  overflow: hidden;
}

.footer {
  padding-bottom: 1ex;
}
