
.news-entry h1 {
    font-size: 48px;
    margin-top: 40px;
}

.news-entry .image-container {
    margin-top: 50px;
}

.news-entry .preview-container {
    margin-top: 50px;
    font-size: 26px;
    padding-left: 40px;
    padding-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    background-image: url('feedpresso_email_header.png');
    height: 160px;
    position: fixed;
    /* position: relative; */
    bottom: 0;
    clear: both;
    z-index: 10;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #263238;
}

html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

.flexslider-container {
    height: 100%;
}