body {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.content-container {
  margin-bottom: 0px;
  z-index: 10;
}


.news-entry {
  padding: 0;
  height: 100%;
  width: 100%;
}

.flexslider-container {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.flexslider {
  height: 100%;
  border: none;
}

.slides {
  height: 100%;
}

.slides li {
  height: 100%;
}

.background-container {
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */
  z-index: 0;
  width: 100%;
  height: 100%;
}

.background-container img {
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */

  min-width: 100%;
  min-height: 100%;
}

.content-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.scrim-full {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 5;
}

.logo-image {
  width: 200px;
}

h1.title {
  position: absolute;
  bottom: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 56pt;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,.3);
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 4.8em;
  padding-bottom: .8ex;
}

.preview {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 24pt;
  color: white;
  line-height: 1.3em;
  max-height: 5.2em;
  overflow: hidden;
}

.footer {
  padding-bottom: 1ex;
}

.row.header {
  padding-top: 4em;
}

.row.title {
}

.row.preview {
  margin-top: .5em;
}

#title_container {
  position: relative;
  font-size: 56pt;
  height: 5em;
}
